/*******Animation Font incone***********/
.reduction .fa-solid{
    animation: rotation infinite 5s linear ;

    border-color: var(--first-color);
}

@keyframes rotation{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(380deg);
    }
}

/* Big title */
.title{
    font-weight: 900;
    text-align: center;
    margin: 5rem 0rem 2rem 0rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    /* color: #0B59f7; */
}
