$primaryColor:#4B5D85;

@mixin main-property($color: white){
	box-shadow: 1px 1px 5px white;
	margin: auto;
	background-color: $color;
	padding: 20px;
}






@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
	: 'Montserrat' ,'Oxygen' ,sans-serif;
}

body{
	
	margin:0;
	padding:0px;
	font-size:30px;
	box-sizing:border-box;
	background-color:#C3E5F7 !important;
}

.header{
	padding-top:20px;
	padding:10px 50px;
	background-color:white;
	font-size:30px;
	min-height:75px;
	display:flex;
	justify-content:space-between;
	font-weight:bold;
	margin:10px 0px;
	
	.logoName{
		font-size:30px;
		color:black;
	}
	
	.first-letter{
			color:orange;
		}
}

/*#entete{
	border-radius: 20px;
	height:180px;
	width: 100%;
	justify-content: center;
	background-color: white;
}*/

#corps{
	@include main-property();
	margin-top:0px;
	max-width:auto;
	margin-left:5px;
	.memu {
		margin-top: 0;
		min-height: 50px;
		background-color: $primaryColor;
		flex-wrap:auto;
	
		display: flex;
		justify-content:space-between;
		li{
			list-style-type : none;
			font-size: 2em;
			margin: auto;
			a{
				text-decoration: none;
				color: white;
				&:hover{
					border-bottom:5px solid orange;	
					color:orange;
				}

			}
		}
	
	}
}

.nav-toggle{
		display:none;
		width:30px;
		height:30px;
		position:relative;
		right:-90%;
	}
	
/*.croix{
	display:block;
	margin:10px;
	background-color:black;
	position:relative;
	right:-95%;
	top:50%;
	cursor:pointer;
}
.croix::after, .croix::before{
	content:' ';
	width:30px;
	height:3px;
	background-color:black;
}*/
	

/****   Transition entete  ****/
.memu--item {
	list-style-type: none;
	font-size: 2em;
	margin: auto;
	transition: all 300ms;
	transform:scale(1.0);
		
}
.memu--item:hover{
	transform:scale(1.2);
}
/**     fin transition ***/
	
	
	
/*     Requetes des Media ***/
@media screen and (max-width: 720px){
	
	
	.memu{
			flex-direction:column;
			justify-content:center !important;
			align-items:center !important;
			margin:auto;
			overflow:hidden;
			display:none !important;
		
			li{
				padding:10px 10px;	
			}
		
			#traitBas{
				border-bottom:none;
			}
			
	}

	
	.nav-toggle{
		display:block;
	}

	.active{
		display:block !important;
	}

	.presentation{
		width : 90% !important;
		padding:5px;
		 header{
			 margin:2px;
			 font-size:25px;
		 }
	}

	
}


@media screen and (max-width: 1280px){
	.header{
		flex-direction:column;
		padding-bottom:20px !important;
}

	
	
	
	
		.presentation{
		width : 90% !important;
		padding:5px;
		 header{
			 margin:2px;
			 font-size:35px;
		 }
	}
	
	#modal-form .formulaire{
		widht:80% !important;
	}

}



/*****    Fin requetes des media */
	.d-flex{
		margin-top:0 !important;
	}

#traitBas{
	border-bottom: orange 5px solid;
}
 footer a, nav a{
	color:black;
	font-weight: bold;
	&:hover{
		background-color: $primaryColor;
		color: white;
		text-decoration: none;
	}
}

.presentation{
	width: 35%;
	margin:auto;
	background-color:#CACACF;
	padding: 10px; 
	color:black;
	text-align: justify;
	header{
		color: black;
		text-align: center;
		margin: 5px;
		font:{
			weight: bold;
		}
	}

}


header{
	margin-bottom:20px;
	:'Montserrat' sans-serif;
	min-width: 20%;
	color: black;
	font:{
		weight: bold;
		size: 1.8em;
	}
	padding:{
		bottom: 7px;
		left: 10px;
	}
}
/*header:hover{
	text-decoration:underline;
	color:orange;
}*/

footer{
		@include main-property();
		widht:100%;
		margin-top: 10px;
		margin-bottom: 10px;
 		input {
 			: "Bookman Old Style";
  			height: 20px;
  			width: 200px;
  			margin-top:10px;
			&:focus{
  			outline: none;
  			border: 2px $primaryColor solid;
  			}
  			&:not(:focus):invalid{
  				border-color: red;
  				color: white;
  			}
		}		
}

#connection{
	display: inline-block;
	height: 20px;
	margin: auto;
	text-align: center;

}

.obligatoire::after{
  			content: '*';
  			color: red;
 }




/*** Gezstion entete   ***/
  figure div strong{
  color: white;
  font-weight: bold;
  font-size: 20px;
}
figure{
  background-color: $primaryColor;
  display: flex;
  justify-content:flex-start;
}
strong{
  font-weight: bold;
}

#entete {
  border-radius: 20px;
  height: 180px;
  widht: 100%;
  justify-content: center;
  background-color: white;
}

#imagePrincipale{
	height:auto;
	width: 50%;
	}
/*** fin gestion entete **/

/* Animation on scroll Progress Bar */
.progressBar{
	height:20px;
	position:fixed;
	z-index:111;
	background:orange;
	font-size:18px;
	font-weight:bold;
	text-align:center;
	top:0;
	left:0;
	right:0;
}

/*  Fin animation on scroll*/

/*  Menu Responsif*/
.widht-menu{
	width:90px;
}

.responsive-menu {
  height:100%;
  widht:20%;
  padding: 10px;
  text-align: left;
  background:$primaryColor;
  border-radius:20px;
}
.responsive-menu > ul{
	margin-left:0 !important;
}
.responsive-menu ul li{
	cursor:pointer;
	widht:100%;
	display:flex;
	justify-content:start;
	align-items:flex-start;
  list-style-type: none;
  padding: 10px 18px;
  margin-top: 10px;
  min-height: 50px;
  border-radius: 10px;
  font-size: 20px;
  font-weight:bold;
}
.responsive-menu ul li:hover .responsive-menu-hover{
	transition:all 500ms;
	top:100%;	
}
.responsive-menu-hover{
	position:relative;
	top:35%;
	transform:translateX(150%);
	background-color:$primaryColor;
	padding:4px 10px;
	color:white;
	border-radius:10px;
	
}

.hidden{
	display:none !important;
}

.responsive-menu ul li:hover{
  background-color:orange;
}

.responsive-menu ul li img {
	widht:30px;
	height:30px;
	border-color:white;
}

.responsive-menu ul li a{
	text-decoration:none !important;
	color:white;
	padding-left:30px;
}
.res-menu{
	widht:30px;
	height:30px;
	border-color:white;
	margin-left:20px;
}
.res-menu:active{
	border-color:orange;
	box-shadow: 1px 1px 10px orange;
}

#monLogo{
	margin-top:5px !important;
	margin-bottom:10px !important;
	font-size:25px !important;
	font-weight:bold !important;
}
#monLogo span{
	padding-right:35px;
}

/*  Fin Menu responsif*/

/*** Classe Modal**/
#modal-form{
	width:100%;
	height:100%;
	display:flex;
	position:fixed;
	left:0;
	rigth:0;
	top:0;
	background-color:rgba(0,0,0,0.6);

	.formulaire{
		width:50%;
		height:auto;
	}
}
















